.outer-container {
  max-width: 256px;
  max-height: 350px;
  border: 1px solid white;
  background-color: #444445;
  margin: 0 auto; }

li {
  border-bottom: 1px solid white;
  padding: 5px;
  margin: 0;
  list-style: none;
  color: white; }

li:hover {
  background-color: #7fa61e; }

ul {
  padding: 0;
  margin: 0; }

.ul-1 {
  display: none; }

.ul-1 li {
  background-color: #e5e5e5;
  color: #444445; }

.ul-1 li:hover {
  background-color: #7fa61e; }
